@import "../../styles/variables.scss";
@import "../../components/layout/Layout.module.scss";

.omOss_content {
  width: 90%;
  margin: 0 auto;

  h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: $fontSizeMedium;
  }

  p {
    font-size: $fontSizeSmall;
  }

  @include breakpoint(md) {
    h3 {
      font-size: $fontSizeLarge;
    }
    p {
      font-size: $fontSizeMedium;
    }
  }
  @include breakpoint(xl) {
    h3 {
      font-size: $fontSizeXl;
    }
    p {
      font-size: $fontSizeLarge;
    }
  }
}
