@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $bg;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  font-family: $Poppins;
  color: $dark;
  background-color: $bg;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: $fontSizeLarge;
}

p {
  font-size: $fontSizeSmall;
}

.icon {
  font-size: 3rem;

  @include breakpoint(xl) {
    font-size: 5rem;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs {
  position: relative;
  background-color: $bgFade;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(md) {
    height: 14vh;
    margin-bottom: 3rem;
  }
  @include breakpoint(lg) {
    height: 14vh;
    margin-bottom: 5rem;
  }

  @include breakpoint(xl) {
    font-size: $fontSizeXl;
    margin-bottom: 6rem;
  }
}

.preview {
  margin-top: 1rem;

  img {
    margin-top: 1rem;
  }
}
