@import "../../styles/variables.scss";
@import "../../components/layout/Layout.module.scss";

.contactAut {
  max-width: 90%;
  margin: 0 auto;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: $borderRadius;
    margin-bottom: 2rem;
    box-shadow: $boxShadow;
    font-size: $fontSizeSmall;

    div {
      max-width: 30%;
      height: 100%;
    }

    div:nth-child(1) {
      margin-left: 1rem;
    }

    &__button {
      height: 100%;
      border-radius: 0 $borderRadius $borderRadius 0;
      padding: 1.5rem;
      background-color: $primary;
    }

    @include breakpoint(md) {
      font-size: $fontSizeLarge;
    }
  }
  @include breakpoint(md) {
    width: 70%;
  }

  @include breakpoint(lg) {
    width: 60%;
  }
}

.contactForm {
  input {
    margin-top: 1rem;
  }
}

.contact_info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  h2 {
    margin-top: 4rem;
    font-size: $fontSizeLarge;
  }

  table {
    width: 100%;
    border: 1px solid $primary;
    border-radius: $borderRadius;
    border-spacing: 1rem;
    font-size: $fontSizeSmall;

    tr {
      width: 100%;

      th:nth-child(odd) {
        text-align: right;
        width: 30%;
      }

      th:nth-child(even) {
        text-align: left;
        width: 70%;
      }
    }

    @include breakpoint(md) {
      border-spacing: 1.2rem;
    }

    @include breakpoint(lg) {
      font-size: $fontSizeLarge;
      border-spacing: 1.5rem;
    }
  }

  @include breakpoint(md) {
    border-spacing: 1.2rem;
    width: 70%;
  }

  @include breakpoint(lg) {
    width: 60%;
    font-size: $fontSizeLarge;
    border-spacing: 1.5rem;
  }
  @include breakpoint(xl) {
    width: 40%;
  }
}
