@import "../../styles/variables.scss";

.container {
  min-height: calc(85vh - #{$headerHeight});
  width: 100%;
  margin: 0rem 0 6rem 0;
  background: $bg;

  @include breakpoint(md) {
    margin: 0rem 0 8rem 0;
  }

  @include breakpoint(lg) {
    margin: 0 0 10rem 0;
  }
}

fieldset {
  border: none;
}
