@import "../../styles/variables.scss";

.header {
  width: 100%;
  height: $headerHeight;
  padding: 0 1.5rem;
  @include breakpoint(md) {
    padding: 0 3em;
    margin-bottom: 1rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $dark;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      max-width: 35%;
      height: 100%;

      @include breakpoint(md) {
        margin-top: 1.5rem;
        max-width: 25%;
        height: 100%;
      }

      @include breakpoint(xl) {
        margin-top: 1.5rem;
        max-width: 30%;
        height: 100%;
      }

      img {
        max-width: 100%;
        height: 80%;
        object-fit: contain;
      }
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba($dark, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;
      z-index: 10000;

      @include breakpoint(md) {
        padding-top: 1rem;
        transform: none;
        flex-direction: column-reverse;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-lg;

        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem +#{$spacing-md});
        }

        li {
          &:not(:last-child) {
            margin-bottom: $spacing-lg;

            @include breakpoint(md) {
              margin-bottom: 0;
              margin-left: $spacing-md;
            }
          }
          a {
            text-decoration: none;
            color: $light;
            padding: 0.75rem 1.25rem;
            border-radius: $borderRadius;
            transition: 0.3s ease all;

            @include breakpoint(md) {
              color: $dark;
              font-size: $fontSizeSmall;
            }

            @include breakpoint(lg) {
              font-size: $fontSizeMedium;
            }

            @include breakpoint(xl) {
              font-size: $fontSizeXl;
            }

            &:hover {
              background: rgba($light, 0.1);
            }
            &:active {
              border-radius: calc(#{$borderRadius} + 6px);
              background: linear-gradient(rgba($light, 0.1), rgba($light, 0.2));
            }
          }
        }
      }
      button {
        cursor: pointer;
        outline: none;
        padding: 0.75rem 1.25rem;
        font-family: inherit;
        background: none;
        text-shadow: none;
        font-weight: normal;
        color: $light;
        font-size: 1rem;
        border: 1px solid transparent;
        transition: 0.3s ease all;
        margin-top: 0;

        @include breakpoint(md) {
          color: $dark;
          font-size: $fontSizeSmall;
        }

        @include breakpoint(lg) {
          font-size: $fontSizeMedium;
        }

        @include breakpoint(xl) {
          font-size: $fontSizeXl;
        }

        &:hover {
          border-color: $primary;
          background: rgba($primary, 0.1);
          color: $primary;
        }
        &:active {
          border-color: $primary;
          background: linear-gradient(rgba($primary, 0.1), rgba($primary, 0.2));
          color: $primary;
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      z-index: 3000000;

      &__closed {
        color: white;
      }

      &:hover {
        color: $primary;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
