@import "../../styles/variables.scss";

.news {
  max-width: 90%;
  border: 2px solid red;
  margin: $spacing-md-section auto;
  display: grid;
  gap: 1rem;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    margin: $spacing-lg-section auto;
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__article {
    position: relative;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      z-index: 100;
      text-transform: capitalize;
      padding: 2rem;
      background: rgba(0, 0, 0, 0.6);
      color: white;
    }

    &__add {
      background-color: grey;
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        color: white;
        font-size: 6rem;
        text-align: center;
      }
    }
  }
}
