@import "../../styles/variables.scss";

.article {
  max-width: 90%;
  margin: $spacing-md-section auto;

  &__content {
    width: 100%;
    h2 {
      margin-bottom: 1rem;
      font-size: $fontSizeMedium;
    }

    @include breakpoint(md) {
      max-width: 60%;
      h2 {
        font-size: $fontSizeLarge;
      }
      p {
        font-size: $fontSizeMedium;
      }
    }

    @include breakpoint(xl) {
      h2 {
        font-size: $fontSizeXl;
      }
      p {
        font-size: $fontSizeLarge;
      }
    }
  }

  img {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  @include breakpoint(md) {
    display: flex;
    max-width: 90%;

    img {
      max-width: 50%;
      max-height: 50vh;
      margin-right: 1rem;
    }
  }
  @include breakpoint(lg) {
    display: flex;
    max-width: 60%;

    img {
      max-width: 50%;
      max-height: 50vh;
      margin-right: 1rem;
    }
  }

  h2 {
    text-transform: uppercase;
  }
}
